#root {
  margin: 0;
  text-align: left;
  min-height: 100vh;
}

select,
select option {
  background-color: #0a1124;
  color: #e5e9ff;
}

select:focus {
  outline: none;
}

.app-gradient-bg {
  background: var(--app-background);
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.reco-scroll {
  scroll-behavior: smooth;
}

html,
body,
#root {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none;
}
